@import '../../../../styles/base/Variables';
.forgetpassword{
  background-image: url('https://media.peacecoin.io/invexback.png');
  background-repeat: no-repeat;
  background-size: cover;
  img{
    max-width: 50%;
  }
  hr{
    background-color: #686868;
    margin: 20px 0;
  }
  a,a:hover{
    color: $primaryColor;
  }
  input{
    background-color: transparent;
    border:1px solid $primaryColor;
    color: $primaryColor !important;
  }
  input:focus,input:active{
    background-color: transparent;
    border:1px solid $primaryColor;
    box-shadow: none;
  }
}