@import '../../../../styles/base/Variables.scss';
.noncrypto-feature-background{
    background-image: url('../../../../../background/feature-back.jpg');
    background-size: cover;
    svg{
        color: $primaryColor;
        width: 80px;
        height: 80px;
    }
    .vert-move {
        -webkit-animation: mover 0.8s infinite  alternate;
        animation: mover 0.8s infinite  alternate;
    }
    .vert-move {
        -webkit-animation: mover 0.8s infinite  alternate;
        animation: mover 0.8s infinite  alternate;
    }
    @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    
h3,p{
    color: #fff;
}
.redheart{
color:#bd2424;
}

}