// Footer sass here
@import '../../../../styles/base/Variables.scss';
.noncrypto-footer-cover{
    background:#252525;
    // ul li{
    //   margin: 15px 0;
    // }
    h3{
        color: #fff;
        font-weight: 300;
    }
    p{
        color: #fff;
        font-weight: 300;
        font-size: 1rem;
        margin-top: 15px;
    }
    h2{
        color: $primaryColor;
        margin-bottom: 0;
        line-height: 1;
        font-size: 1.5rem;
    }
    small{
        color: #fff;
        font-size: 0.75rem;
    }
    hr{
        background-color: #d7d7d7;
        width: 100%;
        margin:30px 0;
    }
    svg{
        color: #fff;
        font-size: 26px;
        margin-right: 10px;
    }
    a{
        text-decoration:none;
        color: rgb(255, 255, 255);
        font-weight: 300;
    }
    svg:hover{
        color: $primaryColor;
        transition: 0.7s;
    }
    p a:hover{
transition: 0.7s;
color: $primaryColor;
cursor: pointer;
    }
    #google_translate_element{
        margin-top: 15px;
    }
}
@media screen and (max-width: 991px) {
    .noncrypto-footer-cover .about-sect,.follow-sect{
    margin-top: 30px;
}
}
@media screen and (max-width: 512px) {
    .noncrypto-footer-cover{
        hr{
            margin:5px 0;
        }
        svg{
            color: #fff;
            font-size: 19px;
            margin-right: 7px;
        }
    }
}
.translateCover{
    overflow:hidden !important;
    position: relative;
    z-index: 1;
    width: 162px;
}