.navbar{
  background-color: rgba(255, 171, 10, 0.9);
  z-index:999;
}
.dropdown-menu {
  margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
  left: 100%;
  top: 0%;
  margin:0 20px;
  border-width: 0;
}
.dropdown-menu .dropdown .dropdown-menu.left {
  right: 100%;
  left: auto;
}
.dropdown-toggle{
  cursor:pointer;
}
.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
  background: #222;
  color: white !important;
}
.dropdown-menu > li.show > a{
  color: white;
}
.dashprofile{
  color: #318a31 !important;
  font-weight: 700 !important;
}
@media (max-width: 991px) {
  .statheight{
    height:150px;
    overflow-y:scroll
  }
}
@media (min-width: 768px) {
  .dropdown-menu .dropdown .dropdown-menu {
    margin:0;
    border-width: 1px;
  }
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  top:0 !important;
}
.top-bar{
  background-color: #222;
  position: relative;
  padding: 10px 0;
  z-index: 9999;
}
.top-bar p{

  font-weight: 400 !important;
}
.btn:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.btn-primary {
  background-color: #FEC61D;
  color: #000;
  font-size: 18px;
  border: 0;
  margin: 30px 0;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px 20px 4px 10px;
  border-bottom-right-radius: 0;
  text-transform: uppercase;
}

p {
  /* font-size: 18px; */
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

.heading {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(254, 198, 29);
  width: 450px;
  height: 70px;
  z-index: 22;
  border-radius: 0px 80px 0px 80px;
  text-align: center;
}

.section-title:after {
  content: "";
  display: block;
  width: 7em;
  max-width: 50%;
  border-bottom: 0.1em solid #000;
  margin: 10px auto 0;
}

.primary-text {
  color: #FEC61D !important;
}

.section-title:after {
  content: "";
  display: block;
  width: 7em;
  max-width: 50%;
  border-bottom: 0.1em solid #fff;
  margin: 10px auto 0;
}

.secondary-text {
  color: #FFAB0A;
}

/*********************************

           Specific

**********************************/

#header {
  /* background-image: url("img/header-bg.png"); */
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  background-color: #222;
  /* padding: 15% 0;  */
}

#header-mob {
  display: none;
}

.navbar {
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.navbar-fixed-top {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.cart-cover{
  background-color: #000;
  padding: 10px;
}
.navbar {
  background-color: rgba(255, 171, 10, 0.9);
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 0;
}

.navbar ul li .btn {
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #000;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  transform: translateY(-5px);
}

.navbar ul li .btn:hover {
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #FFAB0A !important;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateY(-5px);
}

.navbar i {
  color: #fff;
  font-size: 14px;
  outline: none;
  border: 0;
}


.fa-bars{
  outline: none;
}
