.ErrorBoundary{
background-image: url('../../../../background/404bg.png');
background-size: cover;
// clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 17% 94%, 0 78%, 0 30%, 19% 2%);
// background-color: beige;
padding: 50px 30px;
width: 100%;
}
@media screen and (max-width: 991px) {
	.ErrorBoundary{
     background-size: contain;
	 background-repeat: no-repeat;
	}
}