#terms{
    position: relative;
    background: ghostwhite;
    .overall-text h1,h4{
        padding: 20px;
    }
    ul{
        margin-top: 20px;
    }
    ul li{
        text-align: left !important;
        padding: 10px 0;
    }
} 